body, html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Oxygen', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: #404040;
  line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0 0 1rem;
}