<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="msapplication-tap-highlight" content="no" />

  <title>Denver Home Peddlers</title>
  <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet">
</head>
<body>
<div id="app"></div>
</body>
</html>